# Dependências
node_modules

# Arquivos de build
.next
out

# Arquivos de ambiente (contém chaves secretas)
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Outros
.DS_Store
